<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title  %></title>
    <meta name="description" content="<%= locals.description  %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body class="font-poppins bg-slate-50 ">
    <%- include('../partials/header.ejs') %>
    <div class="container mx-auto px-4">
        <main class="py-2">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs')  %>
    </div>
</body>
</html>